<div class="row">
  <div class="col-12">
    <h3>Add a New Service:</h3>

    <form class="form new-service-form">
      <div class="form-group">
        <label for="service-name">Name:</label>
        <input class="form-input" type="text" id="service-name" name="service-name" />
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-input" id="description" name="description"></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input class="form-input" type="text" id="price" name="price"/>
      </div>
      <div class="form-group">
        <label for="duration">Duration:</label>
        <input class="form-input" type="text" id="duration" name="duration"/>
      </div>
      <div class="form-group">
        <label for="filename">Filename:</label>
        <input class="form-input" type="text" id="filename" name="filename"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn custom-btn mt-2" id="addservice">Add</button>
      </div>
    </form>
  </div>

{{#each services}} 
<div class="card">
  <img src="/assets/{{filename}}" class="card-img-top" alt="Service Picture Placeholder">
  <div class="card-body">
    <h5 class="card-title"><strong>{{name}}</strong></h5>
    <p class="card-text">
    <ul>
      <li>Description: {{description}}</li>
      <li>Duration: {{duration}}</li>
      <li>Price: {{price}}</li>
    </ul>
    </p>
    <div class="col-md-4">
      <button class="btn btn-sm mt-2 delete" id="delete" service-id="{{id}}">DELETE</button>
    </div>
  </div> 
</div>
{{/each}}

<script src="/js/admin.js"></script>