<div class="row">
  <div class="col-12">
    <h3>Add a New Service:</h3>

<form class="form new-service-form">
    <div class="mb-3 form-group">
      <label for="service-name" class="form-label">Name:</label>
      <input type="text" class="form-input form-control" id="service-name" name="service-name">
    </div>
    <div class="mb-3 form-group">
        <label for="exampleInputPassword1" class="form-label">Description:</label>
        <input type="text" class="form-input form-control" id="description" name="description">
      </div>
      <div class="mb-3 form-group">
        <label for="exampleInputPassword1" class="form-label">Price:</label>
        <input type="text" class="form-input form-control" id="price" name="price">
      </div>
      <div class="mb-3 form-group">
        <label for="exampleInputPassword1" class="form-label">Duration:</label>
        <input type="text" class="form-input form-control" id="duration" name="duration">
      </div>
      <div class="mb-3 form-group">
        <label for="exampleInputPassword1" class="form-label">Filename:</label>
        <input type="text" class="form-input form-control" id="filename" name="filename">
      </div>
      <div class="form-group">
        <button type="submit" class="btn custom-btn mt-2" id="addservice">Add</button>
      </div>
  </form>
  </div>

{{#each services}} 
<div class="card">
  <img src="/assets/{{filename}}" class="card-img-top" alt="Service Picture Placeholder">
  <div class="card-body">
    <h5 class="card-title"><strong>{{name}}</strong></h5>
    <p class="card-text">
    <ul>
      <li>Description: {{description}}</li>
      <li>Duration: {{duration}}</li>
      <li>Price: {{price}}</li>
    </ul>
    </p>
    <div class="col-md-4">
      <button class="btn btn-sm mt-2 delete" id="delete" service-id="{{id}}">DELETE</button>
    </div>
  </div> 
</div>
{{/each}}

<script src="/js/admin.js"></script>
